
@{
    ViewBag.Title = "ClubHistory";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h3>The History of the New York Yankees</h3>
<img src="~/Photo/Yamless 1.jpg"  width="200" height="200"/>
<p style="font-family:Arial">
    The team originated in 1901 as the Baltimore Orioles (different from the modern-day Baltimore Orioles) and was moved to NYC and renamed the New York Highlanders. By 1913, the team’s name had been changed to the New York Yankees, and the name stayed.

    In the 1920s, the Yankees gained multiple players from the Boston Red Sox, including the legendary player, Babe Ruth. In the following 86 years, the Red Sox never won a single World Series, and their bad luck after trading such a valuable player became known as ‘The Curse of the Bambino.’

</p>

<p style="font-family:Arial">By 1923, the Yankees had their own, new home in Yankee Stadium, and in their first game there, Babe Ruth hit a home run (which was fitting as his success was largely what paid for the new stadium). In 1927, the team’s lineup was known as ‘murder row,’ which many would argue was the best lineup in the history of the sport. By 1931, under their new manager, Joe McCarthy, the Yankees were back at the top of their league and won 12 consecutive World Series games.</p>
<img src="~/Photo/Word 12.jpg"  width="400" height="400"/>