
@{
    ViewBag.Title = "ClubHistory";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h3>The History of the New York Yankees</h3>
<img src="~/Photo/Yamless 1.jpg"  width="200" height="200"/>
<p style="font-family:Arial">
    The team originated in 1901 as the Baltimore Orioles (different from the modern-day Baltimore Orioles) and was moved to NYC and renamed the New York Highlanders. By 1913, the team’s name had been changed to the New York Yankees, and the name stayed.

    In the 1920s, the Yankees gained multiple players from the Boston Red Sox, including the legendary player, Babe Ruth. In the following 86 years, the Red Sox never won a single World Series, and their bad luck after trading such a valuable player became known as ‘The Curse of the Bambino.’

</p>

<p style="font-family:Arial">By 1923, the Yankees had their own, new home in Yankee Stadium, and in their first game there, Babe Ruth hit a home run (which was fitting as his success was largely what paid for the new stadium). In 1927, the team’s lineup was known as ‘murder row,’ which many would argue was the best lineup in the history of the sport. By 1931, under their new manager, Joe McCarthy, the Yankees were back at the top of their league and won 12 consecutive World Series games.</p>
<img src="~/Photo/Word 12.jpg"  width="400" height="400"/>

<h3>Timeline</h3>

<h2>1940</h2>
<p>The Yankees ran through another decade without a losing season, managing to stay competitive during World War II after being hit hard by the absences of star players to military service. When at full strength, the Yankees remained baseball’s elite team—winning five more pennants and four championships during the 1940s. Joe DiMaggio deservedly continued to hog the marquee as the team’s star, riveting the nation in 1941 with his historic 56-game hitting streak.</p>




<h2>1950</h2>
<p>With colorful Casey Stengel at the helm, switch-hitting matinee idol Mickey Mantle taking the baton from an aging DiMaggio as the latest Yankees icon, and confident Whitey Ford dominant from the mound, the Yankees commanded the AL as never before, winning eight pennants and six World Series titles during the 1950s; ironically, their best regular season performance of the decade (a 103-51 record in 1954) led to a second-place finish behind Cleveland. The highlight of the decade came during the 1956 World Series when Don Larsen threw baseball’s first perfect game in 34 years.</p>


<h2>1960</h2>
<p>An aging Stengel was replaced after a shocking World Series loss to Pittsburgh in 1960, and successor Ralph Houk guided the Yankees to four straight pennants behind the power-laden duo of Mantle and Roger Maris (who broke Ruth’s season home run record in 1961). CBS bought the team in 1964 and, almost instantly, the team unraveled—suffering its first losing season in 39 years in 1965 and, a year later, its first finish in the basement in over half a century. The introduction of baseball’s draft in 1965 further eroded the Yankees’ ability to reload with star talent.</p>

<h2>1970</h2>
<p>Mediocrity continued into the 1970s before CBS gave up, selling the franchise in 1973 at a loss. Taking over was the temperamental George Steinbrenner, who modernized aging Yankee Stadium and engaged in controversy on an almost daily basis. But he also fully embraced the advent of free agency and, as a result, paid handsomely to return championship glory to the Bronx, winning three straight pennants from 1976-78—the latter two followed up by world titles despite a tumultuous three-way rift between Steinbrenner, fiery manager Billy Martin and cocksure slugger Reggie Jackson.</p>


<h2>1980s</h2>
<p>The Yankees won another pennant in 1981, but the weight of Steinbrenner’s ego became too much for the franchise as the decade developed, as The Boss made 13 managerial changes and plundered his farm system by trading away top prospects for over-the-hill veterans who couldn’t deliver the Yankees to the postseason. All of this, despite terrific offensive firepower from Don Mattingly (the most popular Yankee since Mantle), Dave Winfield and, for a brief but highly productive time, speedster Rickey Henderson.</p>