
@{
    ViewBag.Title = "CurrentSquad";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>CurrentSquad</h2>

<h2>Current 40-Man Roster</h2>
<div class="tab-content">
    <div class="table-responsive">
        <table class="sortable roster table table-condensed calibre-bold font-14 margin-top-20-10">
            <thead class="allcaps">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th class="text-center"><span class="visible-xs">POS</span><span class="hidden-xs">Position</span></th>
                    <th class="text-center">Bat</th>
                    <th class="text-center"><span class="visible-xs">Thw</span><span class="hidden-xs">Throw</span></th>
                    <th class="text-center"><span class="visible-xs">HT</span><span class="hidden-xs">Height</span></th>
                    <th class="text-center"><span class="visible-xs">WT</span><span class="hidden-xs">Weight</span></th>
                    <th class="text-center hidden-xs">Birth Date</th>
                    <th class="text-center">Age</th>
                    <th class="text-center width-1"><span class="visible-xs">EXP</span><span class="hidden-xs">Experience</span></th>
                    <th class="width-20">Birthplace</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10005428.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/albert-abreu/">
                                    A.&nbsp;Abreu
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/albert-abreu/">
                                    Albert&nbsp;Abreu
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="74">
                        6-2
                    </td>
                    <td class="text-center">
                        190<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1995-09-26">1995-09-26</td>
                    <td class="text-center">26</td>
                    <td class="text-center" data-sort-by="2">1</td>
                    <td>Guayubin, Dominican Republic</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10006299.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/greg-allen/">
                                    G.&nbsp;Allen
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/greg-allen/">
                                    Greg&nbsp;Allen
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">LF</td>
                    <td class="text-center">S</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="72">
                        6-0
                    </td>
                    <td class="text-center">
                        185<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1993-03-15">1993-03-15</td>
                    <td class="text-center">28</td>
                    <td class="text-center" data-sort-by="4">3</td>
                    <td>San Diego, CA</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10005476.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/miguel-andjar/">
                                    M.&nbsp;Andújar
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/miguel-andjar/">
                                    Miguel&nbsp;Andújar
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">LF</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="72">
                        6-0
                    </td>
                    <td class="text-center">
                        211<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1995-03-02">1995-03-02</td>
                    <td class="text-center">26</td>
                    <td class="text-center" data-sort-by="4">3</td>
                    <td>San Cristobal, Dominican Republic</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000254.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/rob-brantly/">
                                    R.&nbsp;Brantly
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/rob-brantly/">
                                    Rob&nbsp;Brantly
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">C</td>
                    <td class="text-center">L</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="72">
                        6-0
                    </td>
                    <td class="text-center">
                        191<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1989-07-14">1989-07-14</td>
                    <td class="text-center">32</td>
                    <td class="text-center" data-sort-by="6">5</td>
                    <td>San Diego, CA</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000094.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/zack-britton/">
                                    Z.&nbsp;Britton
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/zack-britton/">
                                    Zack&nbsp;Britton
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RP</td>
                    <td class="text-center">L</td>
                    <td class="text-center">L</td>
                    <td class="text-center" data-sort-by="73">
                        6-1
                    </td>
                    <td class="text-center">
                        200<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1987-12-22">1987-12-22</td>
                    <td class="text-center">33</td>
                    <td class="text-center" data-sort-by="10">9</td>
                    <td>Panorama City, CA</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000314.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/jay-bruce/">
                                    J.&nbsp;Bruce
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/jay-bruce/">
                                    Jay&nbsp;Bruce
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">LF</td>
                    <td class="text-center">L</td>
                    <td class="text-center">L</td>
                    <td class="text-center" data-sort-by="75">
                        6-3
                    </td>
                    <td class="text-center">
                        230<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1987-04-03">1987-04-03</td>
                    <td class="text-center">34</td>
                    <td class="text-center" data-sort-by="13">12</td>
                    <td>Beaumont, TX</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000278.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/aroldis-chapman/">
                                    A.&nbsp;Chapman
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/aroldis-chapman/">
                                    Aroldis&nbsp;Chapman
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RP</td>
                    <td class="text-center">L</td>
                    <td class="text-center">L</td>
                    <td class="text-center" data-sort-by="76">
                        6-4
                    </td>
                    <td class="text-center">
                        218<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1988-02-28">1988-02-28</td>
                    <td class="text-center">33</td>
                    <td class="text-center" data-sort-by="11">10</td>
                    <td>Holguin, Cuba</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000970.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/gerrit-cole/">
                                    G.&nbsp;Cole
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/gerrit-cole/">
                                    Gerrit&nbsp;Cole
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="76">
                        6-4
                    </td>
                    <td class="text-center">
                        220<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1990-09-08">1990-09-08</td>
                    <td class="text-center">31</td>
                    <td class="text-center" data-sort-by="8">7</td>
                    <td>Newport Beach, CA</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10008677.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/nestor-cortes/">
                                    N.&nbsp;Cortes
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/nestor-cortes/">
                                    Nestor&nbsp;Cortes
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">L</td>
                    <td class="text-center" data-sort-by="71">
                        5-11
                    </td>
                    <td class="text-center">
                        210<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1994-12-10">1994-12-10</td>
                    <td class="text-center">26</td>
                    <td class="text-center" data-sort-by="3">2</td>
                    <td>Surgidero de Batabano, FL</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10008048.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/jonathan-davis/">
                                    J.&nbsp;Davis
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/jonathan-davis/">
                                    Jonathan&nbsp;Davis
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">CF</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="68">
                        5-8
                    </td>
                    <td class="text-center">
                        190<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1992-05-12">1992-05-12</td>
                    <td class="text-center">29</td>
                    <td class="text-center" data-sort-by="3">2</td>
                    <td>Camden, AR</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10007323.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/estevan-florial/">
                                    E.&nbsp;Florial
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/estevan-florial/">
                                    Estevan&nbsp;Florial
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">CF</td>
                    <td class="text-center">L</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="73">
                        6-1
                    </td>
                    <td class="text-center">
                        195<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1997-11-25">1997-11-25</td>
                    <td class="text-center">23</td>
                    <td class="text-center" data-sort-by="1">R</td>
                    <td>Barahona, Dominican Republic</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10002113.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/clint-frazier/">
                                    C.&nbsp;Frazier
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/clint-frazier/">
                                    Clint&nbsp;Frazier
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RF</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="71">
                        5-11
                    </td>
                    <td class="text-center">
                        212<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1994-09-06">1994-09-06</td>
                    <td class="text-center">27</td>
                    <td class="text-center" data-sort-by="4">3</td>
                    <td>Decatur, GA</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10001966.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/joey-gallo/">
                                    J.&nbsp;Gallo
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/joey-gallo/">
                                    Joey&nbsp;Gallo
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RF</td>
                    <td class="text-center">L</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="77">
                        6-5
                    </td>
                    <td class="text-center">
                        250<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1993-11-19">1993-11-19</td>
                    <td class="text-center">27</td>
                    <td class="text-center" data-sort-by="6">5</td>
                    <td>Henderson, NV</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10008581.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/deivi-garca/">
                                    D.&nbsp;García
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/deivi-garca/">
                                    Deivi&nbsp;García
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="69">
                        5-9
                    </td>
                    <td class="text-center">
                        163<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1999-05-19">1999-05-19</td>
                    <td class="text-center">22</td>
                    <td class="text-center" data-sort-by="1">R</td>
                    <td>Bonao, Dominican Republic</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000870.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/brett-gardner/">
                                    B.&nbsp;Gardner
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/brett-gardner/">
                                    Brett&nbsp;Gardner
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">CF</td>
                    <td class="text-center">L</td>
                    <td class="text-center">L</td>
                    <td class="text-center" data-sort-by="71">
                        5-11
                    </td>
                    <td class="text-center">
                        195<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1983-08-24">1983-08-24</td>
                    <td class="text-center">38</td>
                    <td class="text-center" data-sort-by="13">12</td>
                    <td>Holly Hill, SC</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10005249.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/domingo-germn/">
                                    D.&nbsp;Germán
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/domingo-germn/">
                                    Domingo&nbsp;Germán
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="74">
                        6-2
                    </td>
                    <td class="text-center">
                        181<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1992-08-04">1992-08-04</td>
                    <td class="text-center">29</td>
                    <td class="text-center" data-sort-by="4">3</td>
                    <td>San Pedro de Macoris, Dominican Republic</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10010798.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/luis-gil/">
                                    L.&nbsp;Gil
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/luis-gil/">
                                    Luis&nbsp;Gil
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="74">
                        6-2
                    </td>
                    <td class="text-center">
                        185<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1998-06-03">1998-06-03</td>
                    <td class="text-center">23</td>
                    <td class="text-center" data-sort-by="1">R</td>
                    <td>Azua, Dominican Republic</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10005881.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/chris-gittens/">
                                    C.&nbsp;Gittens
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/chris-gittens/">
                                    Chris&nbsp;Gittens
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">1B</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="76">
                        6-4
                    </td>
                    <td class="text-center">
                        250<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1994-02-04">1994-02-04</td>
                    <td class="text-center">27</td>
                    <td class="text-center" data-sort-by="2">1</td>
                    <td>Sherman, TX</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10006987.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/chad-green/">
                                    C.&nbsp;Green
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/chad-green/">
                                    Chad&nbsp;Green
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RP</td>
                    <td class="text-center">L</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="75">
                        6-3
                    </td>
                    <td class="text-center">
                        215<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1991-05-24">1991-05-24</td>
                    <td class="text-center">30</td>
                    <td class="text-center" data-sort-by="5">4</td>
                    <td>Greenville, SC</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000555.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/andrew-heaney/">
                                    A.&nbsp;Heaney
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/andrew-heaney/">
                                    Andrew&nbsp;Heaney
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">L</td>
                    <td class="text-center">L</td>
                    <td class="text-center" data-sort-by="74">
                        6-2
                    </td>
                    <td class="text-center">
                        200<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1991-06-05">1991-06-05</td>
                    <td class="text-center">30</td>
                    <td class="text-center" data-sort-by="7">6</td>
                    <td>Oklahoma City, OK</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000777.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/aaron-hicks/">
                                    A.&nbsp;Hicks
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/aaron-hicks/">
                                    Aaron&nbsp;Hicks
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">CF</td>
                    <td class="text-center">S</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="73">
                        6-1
                    </td>
                    <td class="text-center">
                        205<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1989-10-02">1989-10-02</td>
                    <td class="text-center">32</td>
                    <td class="text-center" data-sort-by="8">7</td>
                    <td>San Pedro, CA</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10001865.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/kyle-higashioka/">
                                    K.&nbsp;Higashioka
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/kyle-higashioka/">
                                    Kyle&nbsp;Higashioka
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">C</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="73">
                        6-1
                    </td>
                    <td class="text-center">
                        202<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1990-04-20">1990-04-20</td>
                    <td class="text-center">31</td>
                    <td class="text-center" data-sort-by="4">3</td>
                    <td>Huntington Beach, CA</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10007375.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/clay-holmes/">
                                    C.&nbsp;Holmes
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/clay-holmes/">
                                    Clay&nbsp;Holmes
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="77">
                        6-5
                    </td>
                    <td class="text-center">
                        230<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1993-03-27">1993-03-27</td>
                    <td class="text-center">28</td>
                    <td class="text-center" data-sort-by="3">2</td>
                    <td>Dothan, AL</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10002087.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/aaron-judge/">
                                    A.&nbsp;Judge
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/aaron-judge/">
                                    Aaron&nbsp;Judge
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RF</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="79">
                        6-7
                    </td>
                    <td class="text-center">
                        282<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1992-04-26">1992-04-26</td>
                    <td class="text-center">29</td>
                    <td class="text-center" data-sort-by="5">4</td>
                    <td>Linden, CA</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10008658.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/michael-king/">
                                    M.&nbsp;King
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/michael-king/">
                                    Michael&nbsp;King
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="75">
                        6-3
                    </td>
                    <td class="text-center">
                        210<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1995-05-25">1995-05-25</td>
                    <td class="text-center">26</td>
                    <td class="text-center" data-sort-by="2">1</td>
                    <td>Rochester, NY</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000335.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/corey-kluber/">
                                    C.&nbsp;Kluber
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/corey-kluber/">
                                    Corey&nbsp;Kluber
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="76">
                        6-4
                    </td>
                    <td class="text-center">
                        215<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1986-04-10">1986-04-10</td>
                    <td class="text-center">35</td>
                    <td class="text-center" data-sort-by="10">9</td>
                    <td>Birmingham, AL</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000397.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/dj-lemahieu/">
                                    D.&nbsp;LeMahieu
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/dj-lemahieu/">
                                    DJ&nbsp;LeMahieu
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">2B</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="76">
                        6-4
                    </td>
                    <td class="text-center">
                        220<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1988-07-13">1988-07-13</td>
                    <td class="text-center">33</td>
                    <td class="text-center" data-sort-by="10">9</td>
                    <td>Visalia, CA</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10008659.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/jonathan-loaisiga/">
                                    J.&nbsp;Loaisiga
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/jonathan-loaisiga/">
                                    Jonathan&nbsp;Loaisiga
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="71">
                        5-11
                    </td>
                    <td class="text-center">
                        165<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1994-11-02">1994-11-02</td>
                    <td class="text-center">27</td>
                    <td class="text-center" data-sort-by="3">2</td>
                    <td>Managua, Nicaragua</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10007655.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/tim-locastro/">
                                    T.&nbsp;Locastro
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/tim-locastro/">
                                    Tim&nbsp;Locastro
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">LF</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="73">
                        6-1
                    </td>
                    <td class="text-center">
                        190<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1992-07-14">1992-07-14</td>
                    <td class="text-center">29</td>
                    <td class="text-center" data-sort-by="4">3</td>
                    <td>Auburn, NY</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10001069.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/lucas-luetge/">
                                    L.&nbsp;Luetge
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/lucas-luetge/">
                                    Lucas&nbsp;Luetge
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RP</td>
                    <td class="text-center">L</td>
                    <td class="text-center">L</td>
                    <td class="text-center" data-sort-by="76">
                        6-4
                    </td>
                    <td class="text-center">
                        205<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1987-03-24">1987-03-24</td>
                    <td class="text-center">34</td>
                    <td class="text-center" data-sort-by="5">4</td>
                    <td>Industry, TX</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10006466.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/jordan-montgomery/">
                                    J.&nbsp;Montgomery
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/jordan-montgomery/">
                                    Jordan&nbsp;Montgomery
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">L</td>
                    <td class="text-center">L</td>
                    <td class="text-center" data-sort-by="78">
                        6-6
                    </td>
                    <td class="text-center">
                        228<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1992-12-27">1992-12-27</td>
                    <td class="text-center">28</td>
                    <td class="text-center" data-sort-by="4">3</td>
                    <td>Sumter, SC</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10007095.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/nick-nelson/">
                                    N.&nbsp;Nelson
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/nick-nelson/">
                                    Nick&nbsp;Nelson
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="73">
                        6-1
                    </td>
                    <td class="text-center">
                        205<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1995-12-05">1995-12-05</td>
                    <td class="text-center">25</td>
                    <td class="text-center" data-sort-by="1">R</td>
                    <td>Panama City, FL</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000110.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/darren-oday/">
                                    D.&nbsp;O'Day
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/darren-oday/">
                                    Darren&nbsp;O'Day
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="76">
                        6-4
                    </td>
                    <td class="text-center">
                        220<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1982-10-22">1982-10-22</td>
                    <td class="text-center">39</td>
                    <td class="text-center" data-sort-by="13">12</td>
                    <td>Jacksonville, FL</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10001270.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/rougned-odor/">
                                    R.&nbsp;Odor
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/rougned-odor/">
                                    Rougned&nbsp;Odor
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">2B</td>
                    <td class="text-center">L</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="71">
                        5-11
                    </td>
                    <td class="text-center">
                        200<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1994-02-03">1994-02-03</td>
                    <td class="text-center">27</td>
                    <td class="text-center" data-sort-by="7">6</td>
                    <td>Maracaibo, Venezuela</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10007292.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/wandy-peralta/">
                                    W.&nbsp;Peralta
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/wandy-peralta/">
                                    Wandy&nbsp;Peralta
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RP</td>
                    <td class="text-center">L</td>
                    <td class="text-center">L</td>
                    <td class="text-center" data-sort-by="72">
                        6-0
                    </td>
                    <td class="text-center">
                        220<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1991-07-27">1991-07-27</td>
                    <td class="text-center">30</td>
                    <td class="text-center" data-sort-by="5">4</td>
                    <td>San Francisco de Macoris, Dominican Republic</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000217.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/anthony-rizzo/">
                                    A.&nbsp;Rizzo
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/anthony-rizzo/">
                                    Anthony&nbsp;Rizzo
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">1B</td>
                    <td class="text-center">L</td>
                    <td class="text-center">L</td>
                    <td class="text-center" data-sort-by="75">
                        6-3
                    </td>
                    <td class="text-center">
                        240<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1989-08-08">1989-08-08</td>
                    <td class="text-center">32</td>
                    <td class="text-center" data-sort-by="10">9</td>
                    <td>Fort Lauderdale, FL</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10003231.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/joely-rodrguez/">
                                    J.&nbsp;Rodríguez
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/joely-rodrguez/">
                                    Joely&nbsp;Rodríguez
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">RP</td>
                    <td class="text-center">L</td>
                    <td class="text-center">L</td>
                    <td class="text-center" data-sort-by="73">
                        6-1
                    </td>
                    <td class="text-center">
                        200<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1991-11-14">1991-11-14</td>
                    <td class="text-center">29</td>
                    <td class="text-center" data-sort-by="3">2</td>
                    <td>Santo Domingo, Dominican Republic</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000857.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/gary-snchez/">
                                    G.&nbsp;Sánchez
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/gary-snchez/">
                                    Gary&nbsp;Sánchez
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">C</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="74">
                        6-2
                    </td>
                    <td class="text-center">
                        230<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1992-12-02">1992-12-02</td>
                    <td class="text-center">28</td>
                    <td class="text-center" data-sort-by="6">5</td>
                    <td>Santo Domingo, Dominican Republic</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10008434.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/clarke-schmidt/">
                                    C.&nbsp;Schmidt
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/clarke-schmidt/">
                                    Clarke&nbsp;Schmidt
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="73">
                        6-1
                    </td>
                    <td class="text-center">
                        209<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1996-02-20">1996-02-20</td>
                    <td class="text-center">25</td>
                    <td class="text-center" data-sort-by="1">R</td>
                    <td>Acworth, GA</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10002077.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/luis-severino/">
                                    L.&nbsp;Severino
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/luis-severino/">
                                    Luis&nbsp;Severino
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="74">
                        6-2
                    </td>
                    <td class="text-center">
                        215<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1994-02-20">1994-02-20</td>
                    <td class="text-center">27</td>
                    <td class="text-center" data-sort-by="6">5</td>
                    <td>Sabana de la Mar, Dominican Republic</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000690.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/giancarlo-stanton/">
                                    G.&nbsp;Stanton
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/giancarlo-stanton/">
                                    Giancarlo&nbsp;Stanton
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">DH</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="78">
                        6-6
                    </td>
                    <td class="text-center">
                        245<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1989-11-08">1989-11-08</td>
                    <td class="text-center">31</td>
                    <td class="text-center" data-sort-by="11">10</td>
                    <td>Panorama City, CA</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10000986.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/jameson-taillon/">
                                    J.&nbsp;Taillon
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/jameson-taillon/">
                                    Jameson&nbsp;Taillon
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SP</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="77">
                        6-5
                    </td>
                    <td class="text-center">
                        230<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1991-11-18">1991-11-18</td>
                    <td class="text-center">29</td>
                    <td class="text-center" data-sort-by="5">4</td>
                    <td>Lakeland, FL</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10005406.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/gleyber-torres/">
                                    G.&nbsp;Torres
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/gleyber-torres/">
                                    Gleyber&nbsp;Torres
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SS</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="73">
                        6-1
                    </td>
                    <td class="text-center">
                        205<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1996-12-13">1996-12-13</td>
                    <td class="text-center">24</td>
                    <td class="text-center" data-sort-by="3">2</td>
                    <td>Caracas, Venezuela</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10003219.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/gio-urshela/">
                                    G.&nbsp;Urshela
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/gio-urshela/">
                                    Gio&nbsp;Urshela
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">3B</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="72">
                        6-0
                    </td>
                    <td class="text-center">
                        215<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1991-10-11">1991-10-11</td>
                    <td class="text-center">30</td>
                    <td class="text-center" data-sort-by="5">4</td>
                    <td>Cartagena, Colombia</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10006886.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/andrew-velazquez/">
                                    A.&nbsp;Velazquez
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/andrew-velazquez/">
                                    Andrew&nbsp;Velazquez
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SS</td>
                    <td class="text-center">S</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="69">
                        5-9
                    </td>
                    <td class="text-center">
                        170<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1994-07-14">1994-07-14</td>
                    <td class="text-center">27</td>
                    <td class="text-center" data-sort-by="3">2</td>
                    <td>Bronx, NY</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10007562.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/luke-voit/">
                                    L.&nbsp;Voit
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/luke-voit/">
                                    Luke&nbsp;Voit
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">1B</td>
                    <td class="text-center">R</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="75">
                        6-3
                    </td>
                    <td class="text-center">
                        255<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1991-02-13">1991-02-13</td>
                    <td class="text-center">30</td>
                    <td class="text-center" data-sort-by="4">3</td>
                    <td>Wildwood, MO</td>
                </tr>
                <tr>
                    <td class="width-1 text-center pad-top-10-imp pad-bottom-10-imp">
                        <div class="report-image-medium-container">
                            <span><img class="report-image-medium" src="https://cdn-headshots.theathletic.com/mlb/10006893.png" loading="lazy"></span>
                            <div class="report-image-medium-background" style="background-image: linear-gradient(to top, #000000 , #05192E 50%)"></div>
                        </div>
                    </td>
                    <td>
                        <span class="visible-xs calibre blacktext2">
                            <strong>
                                <a class="darklink" href="/player/mlb/yankees/tyler-wade/">
                                    T.&nbsp;Wade
                                </a>
                            </strong>
                        </span>
                        <span class="hidden-xs calibre blacktext2">
                            <strong class="font-16">
                                <a class="darklink" href="/player/mlb/yankees/tyler-wade/">
                                    Tyler&nbsp;Wade
                                </a>
                            </strong>
                        </span>
                    </td>
                    <td class="text-center">SS</td>
                    <td class="text-center">L</td>
                    <td class="text-center">R</td>
                    <td class="text-center" data-sort-by="73">
                        6-1
                    </td>
                    <td class="text-center">
                        188<span class="hidden-xs"> lbs</span>
                    </td>
                    <td class="text-center hidden-xs" data-sort-by="1994-11-23">1994-11-23</td>
                    <td class="text-center">26</td>
                    <td class="text-center" data-sort-by="4">3</td>
                    <td>Murrieta, CA</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>