
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Gallery</h2>

<img src="~/Photo/Yankee 1.jpg" />


<img src="~/Photo/Yankee 12.jpg"  height="400" width="400"/>


<img src="~/Photo/Yankee 23.jpg"  height="400" width="400"/>

<img src="~/Photo/Yankees 12.jpg" />