
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Gallery</h2>

<img src="~/Photo/Yankee 1.jpg"  width="200" height="200"/>
<img src="~/Photo/Yankees 12.jpg" width="200" height="200" />