
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Home</h2>

<img src="~/Photo/Yankees 12.jpg" width="400" height="400" />
<h2>Welcome to Yankees Fansite</h2>
<p> Get news and updates from Yankee Stadium</p>
<p>Watch videos and checkout our image gallery</p>

<div class="now-content bloom-content"><div class="img-container headshot" data-main-container=".now-feed-item"><img class="focus-image  imageLoaded" src="https://a.espncdn.com/combiner/i?img=/i/columnists/full/weinbaum_willie.png&amp;w=160&amp;h=160&amp;scale=crop"></div><h1>William Weinbaum <span>ESPN&nbsp;</span></h1><p>The "Early Baseball Era" ballot (careers primarily pre-1950) announced Fri. by the HoF - committee voting Dec. 5 in Orlando/results announcement that night - includes 7 Negro Leagues/pre-Negro Leagues legends &amp; 3 MLB stars: Bill Dahlen (MLB), John Donaldson, Bud Fowler, Vic Harris, Grant "Home Run" Johnson, Lefty O'Doul (MLB), Buck O'Neil, Dick "Cannonball" Redding, Allie Reynolds (MLB) and George Scales. All 10 are deceased.</p></div>
<p>The 10 candidates on the HoF "Golden Days Era" (careers primarily during 1950-69) ballot announced Fri. — with the committee meeting &amp; voting Dec. 5 in Orlando/results to be announced that night — are Dick Allen, Ken Boyer, Gil Hodges, Jim Kaat, Roger Maris, Minnie Miñoso, manager Danny Murtaugh, Tony Oliva, Billy Pierc
    e and Maury Wills.  Of the 10, Kaat, Oliva and Wills are living.</p>
<p>The 10 candidates on the HoF "Golden Days Era" (careers primarily during 1950-69) ballot announced Fri. — with the committee meeting &amp; voting Dec. 5 in Orlando/results to be announced that night — are Dick Allen, Ken Boyer, Gil Hodges, Jim Kaat, Roger Maris, Minnie Miñoso, manager Danny Murtaugh, Tony Oliva, Billy Pierce and Maury Wills.  Of the 10, Kaat, Oliva and Wills are living.</p>