
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Home</h2>

<img src="~/Photo/Yankees 12.jpg" width="400" height="400" />
<h2>Welcome to Yankees Fansite</h2>
<p> Get news and updates from Yankee Stadium</p>
<p>Watch videos and checkout our image gallery</p>
<img src="~/Photo/Yankees 12.jpg" />